* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff5f7;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}

.logo {
    float: left;
    padding-top: 30px;
}

.top-bar-left {
    width: 100%;
    height: 120px
}

.logo a {
    text-decoration: none;
}

    .logo a span {
        color: #d41442;
        font-size: 30px;
        line-height: 40px;
        font-weight: 400;
        letter-spacing: 0px;
        font-family: "Titan One", Arial, Tahoma, sans-serif;
    }

.menu-wrapper {
    float: left;
    height: 120px;
}

.menu-ul {
    padding: 30px 50px;
}

    .menu-ul li {
        list-style: none;
        float: left;
        margin-left: 30px;
        color: white;
    }

        .menu-ul li a {
            text-decoration: none;
        }

            .menu-ul li a span {
                color: white;
                font-family: "DM Sans", Arial, Tahoma, sans-serif;
                font-size: 16px;
                position: relative;
                z-index: 2;
            }

                .menu-ul li a span:hover {
                    color: #d41442;
                    transition: 2s
                }
/*chỗ này phần menu*/



.aboutus-banner {
    position: relative;
    background-image: url("/img/icecream2-subheader4.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 500px;
    z-index: 0;
}

    .aboutus-banner h2 {
        font-size: 70px;
        line-height: 70px;
        font-weight: 400;
        letter-spacing: 0px;
        z-index: 1;
        text-align: left;
        color: #fff;
        padding-top: 150px;
        padding-left: 250px;
        font-stretch: condensed;
    }

.bg-contact {
    background-color: #fff;
    padding-bottom: 250px;
}

.contact {
    margin-top: 100px;
    display: inline-flex;
}

    .contact h3 {
        font-size: 30px;
        line-height: 40px;
        font-weight: 400;
        letter-spacing: 0px;
        color: #ffa5ba;
    }

    .contact h2 {
        font-size: 60px;
        line-height: 60px;
        font-weight: 400;
        letter-spacing: 0px;
        color: #d41442;
    }

    .contact .form-control {
        background-color: #fff5f7;
        font-size: 16px;
        letter-spacing: 0;
        outline: none;
        border: 0px;
    }

        .contact .form-control:-moz-placeholder {
            opacity: 0.5;
        }

    .contact textarea {
        resize: none;
    }

    .contact button {
        border-radius: 50px;
        padding: 15px 35px;
        color: #d41442;
        background: white;
        border: #d41442 solid 1px;
        float: left;
        cursor: pointer;
        text-decoration: none;
    }

        .contact button:hover {
            background: #d41442;
            color: white;
        }

    .contact .contact-header {
        padding: 10px 0 50px;
        font-family: 'Titan One', Arial, Tahoma, sans-serif;
    }

    .contact .image-wrapper img {
        width: 450px;
        height: 450px;
    }

.title {
    width: 100%;
    font-size: 70px;
    line-height: 70px;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: 'Titan One', Arial, Tahoma, sans-serif;
    color: white;
    margin-top: 200px;
}

.content {
    margin-top: -80px
}

    .content span {
        display: inline-block;
        background: #efd1a5;
        color: #fff;
        padding: 0 15px;
        border-radius: 5px;
        margin: 50px 15px 15px
    }

    .content h6 {
        font-size: 17px;
        line-height: 28px;
        font-weight: 550;
        letter-spacing: 0px;
        margin: 7px 15px;
        font-family: 'DM Sans', Arial, Tahoma, sans-serif;
        color: #000
    }

    .content p {
        font-size: 17px;
        line-height: 28px;
        font-weight: 550;
        letter-spacing: 0px;
        margin: 7px 15px;
        font-family: 'DM Sans', Arial, Tahoma, sans-serif;
        color: #907E82
    }
