body {
}


/*header {
    
    height: 300px;
}

.logo a span {
    padding: 50px 100px;
}

.menu-ul {
    margin: 50px 100px;
}

    .menu-ul li {
        margin-left: 30px;
        color: white;
    }*/
