@model ProductsListViewModel;

<vc:navigation-menu />

<style>
    body {
    }

    h1 {
        font-size: 65px;
        line-height: 65px;
        padding-left: 300px;
        padding-top: 270px;
        color: white;
        font-weight: 600;
    }

    .section {
        position: relative;
    }

    .one-third {
        width: 33.333%;
    }

    .mcb-wrap {
        float: left;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
    }

    .one.column {
        width: 98%;
    }

    .column, .columns {
        float: left;
        margin: 0 1% 40px;
    }

    .image_frame {
        border-color: #f8f8f8;
    }

    .image_wrapper {
        border-color: #e2e2e2;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
    }

    .scale-with-grid {
        max-width: 100%;
        height: auto;
    }

    hr {
        display: block;
        border: none;
        outline: none;
        height: 1px;
        width: 100%;
        margin: 0 auto 15px;
        clear: both;
    }

        hr .no_line {
            background: none;
            color: transparent;
        }

    h6 {
        font-size: 17px;
        line-height: 28px;
        font-weight: 500;
        letter-spacing: 0px;
        font-family: "DM Sans", Arial, Tahoma, sans-serif;
    }

    h4 {
        font-size: 25px;
        line-height: 35px;
        font-weight: 400;
        letter-spacing: 0px;
        font-family: "Titan One", Arial, Tahoma, sans-serif;
    }

        h4 a {
            font-weight: inherit;
            text-decoration: none;
        }

    .image_frame {
        border-color: #f8f8f8;
    }

        .image_frame.no_border {
            border-width: 0;
        }

</style>

<div class="" style="background-image: url(https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-subheader3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
        background-color: #fff5f7;
    ">
    <div>
        <h1 style="font-size: 65px;
    line-height: 65px;
    padding-left: 300px;
    padding-top: 270px;
    color: white;
    font-weight: 600;">
            ICE CREAM<br style="color:red" /> RECIPES
        </h1>
    </div>
</div>




<div style="background-color:#fff5f7; padding-top:100px; height:1600px">
    <div class="container">
        <div class="text-center" style="max-width:1060px">
                @foreach (var p in Model.Products)
                {
                    <partial name="ProductSummary" model="p" />
                    }
            </div>
        </div>
    </div>



            <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                 page-class="btn" page-class-normal="btn-outline-dark"
                 page-class-selected="btn-primary"
                 page-url-category="@Model.CurrentCategory"
                 class="btn-group pull-right m-1">
            </div>

