<environment>
    <link rel="stylesheet" href="/css/contact.css" />
</environment>

@*chỗ này phần menu*@
<div style="background:#f9b3cf;">
    <div class="container">
        <div class="top-bar-left">
            <div class="logo">
                <a href="/#"><span>ICE CREAM</span></a>
            </div>
            <div class="menu-wrapper">
                <ul class="menu-ul">
                    <li><a asp-controller="Home" asp-action="Index"><span>Home</span></a></li>
                    <li><a asp-controller="Recipe" asp-action="Index"><span>Recipe</span></a></li>
                    <li><a asp-controller="About" asp-action="Index"><span>About</span></a></li>
                    <li><a asp-controller="Contact" asp-action="Index"><span style="color:#d41442;font-size:20px">Contact</span></a></li>
                </ul>
            </div>
        </div>
        <div class="top-bar-right">
            <div class="login">
                <span></span>
            </div>
        </div>
    </div>

</div>


<div style="background-image: url(https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-subheader4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 580px">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="title">
                    FEEL FREE TO<br />
                    CONTACT US
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="bg-contact">
    <div class="container ">
        <div class="contact col-md-12 col-xs-12">

            <div class="col-xs-6 col-md-6">

                <div class="contact-header">
                    <h3>SEND US A</h3>
                    <h2>Message</h2>
                </div>

                <form class="col-xs-12 col-md-12">
                    <div class="row">
                        <div class="col" style="padding-right: 8px;">
                            <input id="name" name="name" type="text"
                                   class="form-control" placeholder="Your Name" required>
                        </div>

                        <div class="col" style="padding-left: 8px;">
                            <input id="email" name="email" type="text"
                                   class="form-control" placeholder="Your Email" required>
                        </div>
                    </div>

                    <div class="mt-2">
                        <input id="subject" name="subject" type="text"
                               class="form-control" placeholder="Subject" required>
                    </div>

                    <div class="mt-2">
                        <textarea id="message" name="message" type="text"
                                  class="form-control" placeholder="Message" cols="6" rows="6" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary mt-4">Send us a message</button>
                </form>
            </div>

            <div class="image-wrapper col-xs-6 col-md-6 ml-5">
                <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-contact-pic1.png" width="780" height="780">
            </div>

        </div>
    </div>
</div>
<div style="background-color: #FFF5F7;
        background-image: url(https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-sectionbg4.png);
        background-repeat: no-repeat;
        background-size: cover;
">
    <div class="container">
        <div class="row" style="padding-bottom: 50px;width:100%">
            <div class="col-4 content">
                <div class="container form-content" style="width: 100%;background-color: white;border-radius:20px;box-shadow: 0px 0px 20px 0px #d5d3d3">
                    <span>CAFE</span>

                    <h6>Chicago</h6>
                    <p style="color:#907E82">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <hr style="margin: 30px 0 30px; color:#907E82" />

                    <h6>Monday-Friday</h6>
                    <p style="color:#ffa5ba;">06:00 AM - 10:00 PM</p>

                    <h6>Monday-Friday</h6>
                    <p style="color:#ffa5ba;">06:00 AM - 10:00 PM</p>
                    <hr style="margin: 30px 0 30px; color:#907E82" />

                    <p style="color:#907E82;padding-bottom: 30px">
                        +61(0) 383 766 284<br />
                        noreply@envato.com
                    </p>
                </div>
            </div>
            <div class="col-4 content">
                <div class="container form-content" style="width: 100%;background-color: white;border-radius:20px;box-shadow: 0px 0px 20px 0px #d5d3d3">
                    <span>CAFE</span>

                    <h6>Chicago</h6>
                    <p style="color:#907E82">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <hr style="margin: 30px 0 30px; color:#907E82" />

                    <h6>Monday-Friday</h6>
                    <p style="color:#ffa5ba;">06:00 AM - 10:00 PM</p>

                    <h6>Monday-Friday</h6>
                    <p style="color:#ffa5ba;">06:00 AM - 10:00 PM</p>
                    <hr style="margin: 30px 0 30px; color:#907E82" />

                    <p style="color:#907E82;padding-bottom: 30px">
                        +61(0) 383 766 284<br />
                        noreply@envato.com
                    </p>
                </div>
            </div>
            <div class="col-4 content">
                <div class="container form-content" style="width: 100%;background-color: white;border-radius:20px;box-shadow: 0px 0px 20px 0px #d5d3d3">
                    <span>CAFE</span>

                    <h6>Chicago</h6>
                    <p style="color:#907E82">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <hr style="margin: 30px 0 30px; color:#907E82" />

                    <h6>Monday-Friday</h6>
                    <p style="color:#ffa5ba;">06:00 AM - 10:00 PM</p>

                    <h6>Monday-Friday</h6>
                    <p style="color:#ffa5ba;">06:00 AM - 10:00 PM</p>
                    <hr style="margin: 30px 0 30px; color:#907E82" />

                    <p style="color:#907E82;padding-bottom: 30px">
                        +61(0) 383 766 284<br />
                        noreply@envato.com
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="container" style="width: 170px;padding: 10px 0 150px">
                <div class="row">
                    <div class="col-6">
                        <button style="margin:auto;background-color: #d41442;width:170px; height:50px;outline:0;border:0;border-radius:25px;color:white;float:right"> Our locations -></button>
                    </div>
                    <div class="col-6">
                        <button style="margin:auto;background-color: #fff;width:170px; height:50px;outline:0;border:0;border-radius:25px;color:#d41442;float:left"> Franchise -></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
